{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "globals": {
    "Wilddog": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    // Strict mode
    "strict": [2, "never"],
    "no-undef": [2],
    // Code style
    //http://guide.taobao.net/3.javascript-style-guide.html#anchor-h3-0
    "indent": [2, 2, {"SwitchCase": 1}],
    // http://guide.taobao.net/3.javascript-style-guide.html#anchor-h3-1
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-double"],

    // React
    "react/display-name": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
